/*___________________________________________________________________
    Global Layout Set-up
____________________________________________________________________*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*   Colors */
  --bg-color: hsl(210 46% 95%);
  --primary-color: hsl(217 19% 35%);
  --secondary-color: hsl(214 17% 51%);
  --tertiary-color: hsl(0 0% 100%);
  --accent-color: hsl(212 23% 69%);
  --footer-link: hsl(228 45% 44%);
  /*   Text */
  --font-weight--bold: 700;
  --font-weight--regular: 500;
}

body {
  background: var(--bg-color);
  color: var(--primary-color);
  font-family: 'Manrope', sans-serif;
  font-weight: var(--font-weight--regular);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:focus {
  outline: auto 2px Highlight; 
  outline: auto 5px -webkit-focus-ring-color;
}

.hidden {
  display: none;
}

/* Screen reader styles  */
.sr-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*___________________________________________________________________
    Card Styles
____________________________________________________________________*/

article {
  background-color: var(--tertiary-color);
  border-radius: 10px;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
  margin-inline: auto;
  max-width: 45.625rem;
  overflow: hidden;
  position: relative;
}

article h2 {
  font-size: 1rem;
  font-weight: var(--font-weight--bold);
  letter-spacing: 0.2px;
}

article p,
.card__byline {
  font-size: 0.8125rem;
  font-weight: var(--font-weight--regular);
  letter-spacing: 0.12px;
}

.card__header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 0;
  padding-top: calc(100% * (9 / 16));
  position: relative;
  width: 100%;
}

.card__header img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 35%;
}

.card__body {
  padding: 2rem;
}

.card__byline a {
  font-weight: var(--font-weight--bold);
}

.card__byline img {
  border-radius: 50%;
  box-shadow: inset 0 2px 4px 0 var(--accent-color);
  height: 2.5rem;
  width: 2.5rem;
}

/*___________________________________________________________________
    Footer Styles
____________________________________________________________________*/

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: var(--footer-link);
}
