:root {
  --bg-color: hsl(210 46% 95%);
  --primary-color: hsl(217 19% 35%);
  --secondary-color: hsl(214 17% 48%);
  --tertiary-color: hsl(0 0% 100%);
  --accent-color: hsl(212 23% 69%);
  --footer-link: hsl(228 45% 44%);
  --font-weight--bold: 700;
  --font-weight--regular: 500;
  --modal-text: hsl(212 23% 80%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-color);
  color: var(--primary-color);
  font-family: "Manrope", sans-serif;
  font-weight: var(--font-weight--regular);
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: auto 2px Highlight;
  outline: auto 5px -webkit-focus-ring-color;
}

.hidden {
  display: none;
}

.sr-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.btn {
  background-color: var(--bg-color);
  border: none;
  border-radius: 50%;
  color: var(--primary-color);
  cursor: pointer;
  height: 32px;
  width: 32px;
  text-decoration: none;
  transition: transform 0.5s ease;
}
.btn svg {
  color: var(--primary-color);
}
.btn:hover {
  border: 1px dotted var(--secondary-color);
  transform: scale(1.2);
}

.btn__modal-open {
  background-color: var(--secondary-color);
  z-index: 2;
}
.btn__modal-open svg {
  color: var(--tertiary-color);
}
.btn__modal-open:hover {
  border: 1px dotted var(--tertiary-color);
}

article {
  background-color: var(--tertiary-color);
  border-radius: 10px;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
  margin-inline: 1.5rem;
  max-width: 25rem;
  min-width: 17.5rem;
  position: relative;
  transition: all 0.2s ease-in-out;
}
article:hover, article:focus-within {
  box-shadow: 0px 45px 45px -10px rgba(201, 213, 225, 0.65), 0px 0px 0px 1px rgba(201, 213, 225, 0.65);
}
article h2 {
  font-size: 1rem;
  font-weight: var(--font-weight--bold);
  letter-spacing: 0.2px;
  margin-bottom: 0.75rem;
}
@media (min-width: 50rem) {
  article h2 {
    font-size: 1.25rem;
    letter-spacing: 0.25px;
    line-height: 1.4;
  }
}
article h2 a {
  color: var(--primary-color);
}
@media (min-width: 50rem) {
  article {
    display: grid;
    grid-template-columns: 17.8125rem 1fr;
    grid-template-rows: auto;
    max-width: 45.625rem;
  }
}

article h2:not(.card__footer, #modal) a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.card__header {
  height: 0;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}
.card__header figure img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 35%;
}
@media (min-width: 50rem) {
  .card__header figure img {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    object-position: left;
  }
}
@media (min-width: 50rem) {
  .card__header {
    grid-row: 1/span 2;
    padding-top: 100%;
  }
}

.card__body {
  padding: 2.25rem 2rem 1.25rem 2rem;
}
@media (min-width: 50rem) {
  .card__body {
    padding: 2rem 2.5rem 1.25rem 2.5rem;
  }
}

article h3,
article p,
.card__byline {
  color: var(--secondary-color);
  font-size: 0.8125rem;
  letter-spacing: 0.12px;
}

.card__byline a {
  color: var(--primary-color);
  font-weight: var(--font-weight--bold);
  grid-column: 2;
}
.card__byline img {
  border-radius: 50%;
  box-shadow: inset 0 2px 4px 0 var(--accent-color);
  height: 2.5rem;
  width: 2.5rem;
  grid-column: 1;
  grid-row: span 2;
}
.card__byline time {
  grid-column: 2;
}

.byline-wrapper {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  grid-template-rows: auto;
  align-items: center;
  column-gap: 1rem;
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem 1.25rem 2rem;
  position: relative;
}
@media (min-width: 50rem) {
  .card__footer {
    padding: 0 2.5rem 2rem 2.5rem;
  }
}

.modal-content.active {
  background-color: var(--primary-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 2rem;
}
@media (min-width: 50rem) {
  .modal-content.active {
    box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);
    border-radius: 10px;
    padding: 0;
    height: 3.4375rem;
    top: -4.875rem;
    right: -4.5rem;
    left: 16.5625rem;
    z-index: 2;
  }
}
@media (min-width: 50rem) {
  .modal-content.active::after {
    border-right: solid 12px transparent;
    border-left: solid 12px transparent;
    border-top: solid 12px var(--primary-color);
    border-bottom: solid 12px transparent;
    transform: translateX(-50%);
    position: absolute;
    content: "";
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;
  }
}

.modal-content h3 {
  color: var(--modal-text);
  letter-spacing: 5px;
  margin-right: 1.25rem;
  text-transform: uppercase;
}

.socialmedia-wrapper {
  display: flex;
  align-items: center;
  padding: 1.375rem 0;
}
@media (min-width: 50rem) {
  .socialmedia-wrapper {
    padding: 1.125rem 2.25rem;
  }
}
.socialmedia-wrapper a img:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.socialmedia-list {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0 auto 2rem;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: var(--footer-link);
}
