/*___________________________________________________________________
    Global Layout Set-up
____________________________________________________________________*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*   Colors */
  --bg-color: hsl(210 46% 95%);
  --primary-color: hsl(217 19% 35%);
  --secondary-color: hsl(214 17% 48%);
  --tertiary-color: hsl(0 0% 100%);
  --accent-color: hsl(212 23% 69%);
  --footer-link: hsl(228 45% 44%);
  /*   Text */
  --font-weight--bold: 700;
  --font-weight--regular: 500;
}

body {
  background: var(--bg-color);
  color: var(--primary-color);
  font-family: 'Manrope', sans-serif;
  font-weight: var(--font-weight--regular);
  line-height: 1.5;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

img {
  display: block;
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:focus {
  outline: auto 2px Highlight; 
  outline: auto 5px -webkit-focus-ring-color;
}

.hidden {
  display: none;
}

/* Screen reader styles  */
.sr-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*___________________________________________________________________
    Containers
____________________________________________________________________*/

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0 auto 2rem;
  margin: auto;
}

/*___________________________________________________________________
    Card Styles
____________________________________________________________________*/

article {
  background-color: var(--tertiary-color);
  border-radius: 10px;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
  margin-inline: auto;
  max-width: 45.625rem;
  overflow: hidden;
  position: relative;
}

article h2 {
  font-size: 1rem;
  font-weight: var(--font-weight--bold);
  letter-spacing: 0.2px;
}

article h2 a {
  color: var(--primary-color);
}

.article-wrapper a::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: calc(100% - 4rem);
}

article p,
.card__byline {
  color: var(--secondary-color);
  font-size: 0.8125rem;
  font-weight: var(--font-weight--regular);
  letter-spacing: 0.12px;
}

.card__header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 0;
  padding-top: calc(100% * (9 / 16));
  position: relative;
  width: 100%;
}

.card__header img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 35%;
}

.card__body {
  padding: 2rem 2rem 1.25rem 2rem;
}

.card__footer {
  display: flex;
  align-items: center;
  padding: 0.75rem 2rem 1.25rem 2rem;
}

.card__actions {
  display: flex;
  align-items: center;
  width: 100%;
}

.card__byline {
  display: flex;
  gap: 1rem;
  flex-basis: 80%;
}

.card__byline a {
  color:  var(--primary-color);
  font-weight: var(--font-weight--bold);
}

.card__byline a:hover {
  text-decoration: underline;
}

.card__byline img {
  border-radius: 50%;
  box-shadow: inset 0 2px 4px 0 var(--accent-color);
  height: 2.5rem;
  width: 2.5rem;
}

.byline-wrapper {
  display: flex;
  flex-direction: column;
}

.card__cta {
  flex-basis: 20%;
  text-align: right;
}

.btn {
  background-color: var(--bg-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  width: 32px;
  text-decoration: none;
  transition: transform 0.5s ease;
}

.btn:hover {
  color: var(--name);
  border: 1px dotted var(--secondary-color);
  transform: scale(1.2);
}

.btn img {
  padding-left: 9px;
}

/*___________________________________________________________________
    Footer Styles
____________________________________________________________________*/

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: var(--footer-link);
}

.attribution a:hover {
  text-decoration: underline;
}
