// ___________________________________________________________________
// Button Styles
// ___________________________________________________________________

.btn {
  background-color: var(--bg-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  width: 32px;
  text-decoration: none;
  transition: transform 0.5s ease;

  img {
    padding-left: 9px;
  }

  &:hover {
    border: 1px dotted var(--secondary-color);
    transform: scale(1.2);
  }
}

.btn__close-modal {
  background-color: var(--secondary-color);

  &:hover {
    border: 1px dotted var(--tertiary-color);
  }
}
