// ___________________________________________________________________
// Button Styles
// ___________________________________________________________________

.btn {
  background-color: var(--bg-color);
  border: none;
  border-radius: 50%;
  color: var(--primary-color);
  cursor: pointer;
  height: 32px;
  width: 32px;
  text-decoration: none;
  transition: transform 0.5s ease;

  svg {
    color: var(--primary-color);
    pointer-events: none;
  }

  &:hover {
    border: 1px dotted var(--secondary-color);
    transform: scale(1.2);
  }
}

.btn__modal-open {
  background-color: var(--secondary-color);
  z-index: 2;

  svg {
    color: var(--tertiary-color);
  }

  &:hover {
    border: 1px dotted var(--tertiary-color);
  }
}
