// ___________________________________________________________________
// Card Styles
// ___________________________________________________________________

article {
  background-color: var(--tertiary-color);
  border-radius: 10px;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
  margin-inline: auto;
  max-width: 25rem;
  min-width: 17.5rem;
  position: relative;

  h2 {
    font-size: 1rem;
    font-weight: var(--font-weight--bold);
    letter-spacing: 0.2px;
    margin-bottom: 0.75rem;

    @media (min-width: 50rem) {
      font-size: 1.25rem;
      letter-spacing: 0.25px;
      line-height: 1.4;
    }

    a {
      color: var(--primary-color);
    }
  }

  @media (min-width: 50rem) {
    display: grid;
    grid-template-columns: 17.8125rem 1fr;
    grid-template-rows: auto;
    max-width: 45.625rem;
  }
}

.card__header {
  height: 0;
  padding-top: calc(100% * (9 / 16));
  position: relative;
  width: 100%;

  figure img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 35%;

    @media (min-width: 50rem) {
      border-bottom-left-radius: 10px;
      border-top-right-radius: 0;
      object-position: left;
    }
  }

  @media (min-width: 50rem) {
    grid-row: 1 / span 2;
    padding-top: 100%;
  }
}

.card__body {
  padding: 2.25rem 2rem 1.25rem 2rem;

  @media (min-width: 50rem) {
    padding: 2rem 2.5rem 1.25rem 2.5rem;
  }
}

article h3,
article p,
.card__byline {
  color: var(--secondary-color);
  font-size: 0.8125rem;
  letter-spacing: 0.12px;
}

.card__byline {
  a {
    color:  var(--primary-color);
    font-weight: var(--font-weight--bold);
    grid-column: 2;
  }

  img {
    border-radius: 50%;
    box-shadow: inset 0 2px 4px 0 var(--accent-color);
    height: 2.5rem;
    width: 2.5rem;
    grid-column: 1;
    grid-row: span 2;
  }

  time {
    grid-column: 2;
  }
}

.byline-wrapper {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  grid-template-rows: auto;
  align-items: center;
  column-gap: 1rem;
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem 1.25rem 2rem;
  position: relative;

  @media (min-width: 50rem) {
    padding: 0 2.5rem 2rem 2.5rem;
  }
}
