// ___________________________________________________________________
// Base Styles
// ___________________________________________________________________

:root {
  // Colors
  --bg-color: hsl(210 46% 95%);
  --primary-color: hsl(217 19% 35%);
  --secondary-color: hsl(214 17% 48%);
  --tertiary-color: hsl(0 0% 100%);
  --accent-color: hsl(212 23% 69%);
  --footer-link: hsl(228 45% 44%);
  // Text
  --font-weight--bold: 700;
  --font-weight--regular: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-color);
  color: var(--primary-color);
  font-family: 'Manrope', sans-serif;
  font-weight: var(--font-weight--regular);
  line-height: 1.5;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: auto 2px Highlight; 
    outline: auto 5px -webkit-focus-ring-color;
  }
}

.hidden {
  display: none;
}

// Screen reader styles
.sr-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
